## DataFrame 누락데이터 처리하기
    누락데이터 처리하기 - dropna(), fillna() , isnull(), notnull()

In [28]:
'''
판다스는 누락된 모든 데이터를 NaN으로 처리한다.

- dropna( ) : NaN값이 하나라도 있으면 해당 row를 삭제.
    dropna( how='all' ) : 모든 값이 NaN인 row를 삭제
    dropna( how='any' ) : NaN 값이 하나라도 있으면 해당 row 삭제
    dropna( tresh=3) : NaN 값이 2개 이상이면 해당 row를 삭제.(data가 3개 이상이면 남긴다.)         

- fillna( ) : 누락된 데이터를 다른 값으로 채움

- isnull( ) : 

- notnull( ): 

'''

"\n판다스는 누락된 모든 데이터를 NaN으로 처리한다.\n\n- dropna( ) : NaN값이 하나라도 있으면 해당 row를 삭제.\n    dropna( how='all' ) : 모든 값이 NaN인 row를 삭제\n    dropna( how='any' ) : NaN 값이 하나라도 있으면 해당 row 삭제\n    dropna( tresh=3) : NaN 값이 2개 이상이면 해당 row를 삭제.(data가 3개 이상이면 남긴다.)         \n\n- fillna( ) : 누락된 데이터를 다른 값으로 채움\n\n- isnull( ) : \n\n- notnull( ): \n\n"

In [4]:
from numpy import nan as NA
import pandas as pd
from pandas import DataFrame

In [8]:
df = DataFrame([[1,6.5,3],[1,NA,NA],[NA,NA,NA],[NA,6.5,3]])
df

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [27]:
# 1. dropna( ) -[df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)]
# default : 누락값이 하나라도 있으면 삭제한다. 
removeNa=df.dropna()

removeNa 

df #원본은 건들지 않았음. 

df.dropna(how='all') # 모든 데이터가 누락일 때 해당 row삭제
df.dropna(how='any') # 누락 데이터가 하나라도 있을 때 삭제

# df
df.dropna(thresh=2) # NaN의 개수가 아닌 남아 있는 data의 개수가 2개일 때만 남긴다.

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

## DataFrame 누락데이터 처리하기
    누락데이터 값 채우기 - fillna()

In [38]:
df.fillna(0) # 0으로 채우기
df.fillna(df.mean()) # 평균으로 채우기
df.fillna(value=77) # 내가 원하는 값으로 채우기 , 그냥 값입력해도 됨.

df.fillna(method='ffill') # 위의 값으로 빈칸을 채우는 기능.

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0